<div class="container">
    <h1 class="page-header"> Users </h1>
  
  <ul class="list-group">
    <% friends.forEach(function (friend) { %>
      <li class="list-group-item">
        <strong><%= friend %> </strong>
      </li>
    <% } ) %>
  </ul>
  
  </div>